@model WebsitePhuKienSunOne.ModelViews.CheckoutVM
@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<WebsitePhuKienSunOne.ModelViews.CartItem> cart = ViewBag.Cart;
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Thanh toán</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Thanh toán</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form asp-controller="Checkout" asp-action="Index" method="post" class="checkout-form">
                        <div class="block billing-details">
                            <h4 class="widget-title">Thông tin người nhận</h4>
                            <div class="form-group">
                                <label for="full_name">Họ tên</label>
                                <input asp-for="FullName" type="text" class="form-control" id="full_name" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="user_address">Số điện thoại</label>
                                <input asp-for="Phone" type="text" class="form-control" id="user_address" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="user_address">Địa chỉ</label>
                                <input asp-for="Address" type="text" class="form-control" id="user_address" placeholder="">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="City" class="form-control" style="height:50px" asp-items="ViewBag.lsCity">
                                    <option value="0" disabled selected>Tỉnh/Thành</option>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </select>
                            </div>
                            <div class="form-group">
                                <select asp-for="District" class="form-control" style="height:50px">
                                    <option value="0" disabled selected>Quận/Huyện</option>
                                    <span asp-validation-for="District" class="text-danger"></span>
                                </select>
                            </div>
                            <div class="form-group">
                                <select asp-for="Ward" class="form-control" style="height:50px">
                                    <option value="0" disabled selected>Xã/Phường</option>
                                </select>
                                <span asp-validation-for="Ward" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="user_country">Ghi chú</label>
                                <input asp-for="Note" type="text" class="form-control" id="user_country" placeholder="">
                            </div>
                        </div>
                        <div class="block">
                            <h4 class="widget-title">Phương thức thanh toán</h4>
                            <p>Credit Cart Details (Secure payment)</p>
                            <div class="checkout-product-details">
                                <div class="payment">
                                    <div class="card-details">
                                        <div class="form-group">
                                            <label for="card-number">Card Number <span class="required">*</span></label>
                                            <input id="card-number" class="form-control" type="tel" placeholder="•••• •••• •••• ••••">
                                        </div>
                                        <div class="form-group half-width padding-right">
                                            <label for="card-expiry">Expiry (MM/YY) <span class="required">*</span></label>
                                            <input id="card-expiry" class="form-control" type="tel" placeholder="MM / YY">
                                        </div>
                                        <div class="form-group half-width padding-left">
                                            <label for="card-cvc">Card Code <span class="required">*</span></label>
                                            <input id="card-cvc" class="form-control" type="tel" maxlength="4" placeholder="CVC">
                                        </div>
                                        <button type="submit" class="btn btn-main mt-20">Đặt hàng </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="product-checkout-details">
                        <div class="block">
                            <h4 class="widget-title">Thông tin đơn hàng</h4>
                            @if (cart != null && cart.Count() > 0)
                            {
                                foreach (var item in cart)
                                {
                                    <div class="media product-card">
                                        <a class="pull-left" href="product-single.html">
                                            <img class="media-object" src="~/images/products/@item.product.Thumb" alt="@item.product.Title" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="product-single.html">@item.product.ProductName</a></h4>
                                            <p class="price">
                                                @item.amount x
                                                @if (item.product.Discount > 0)
                                                {
                                                    @item.product.Discount.Value.ToString("#,##0")
                                                    ;
                                                }
                                                else
                                                {
                                                    @item.product.Price.Value.ToString("#,##0")
                                                    ;
                                                }
                                                VNĐ
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                            <ul class="summary-prices">
                                <li>
                                    <span>Thành tiền:</span>
                                    <span class="price">@cart.Sum(p=>p.totalMoney).ToString("#,##0") VNĐ</span>
                                </li>
                                <li>
                                    <span>Phí ship:</span>
                                    <span>Free</span>
                                </li>
                            </ul>
                            <div class="summary-total">
                                <span>Tổng cộng</span>
                                <span>@cart.Sum(p=>p.totalMoney).ToString("#,##0") VNĐ</span>
                            </div>
                            <div class="verified-icon">
                                <img src="~/assets/images/shop/verified.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $('#City').change(function () {
                    var cityId = $(this).val();
                    $.ajax({
                        url: '/Location/ListDistrict',
                        data: { id: cityId },
                        type: 'GET',
                        dataType: 'json',
                        success: function (districts) {
                            $("#District").empty();
                            $("#Ward").empty();
                            var strWard = '<option value="" disabled selected>Xã/Phường</option>';
                            $("#Ward").append(strWard);
                            var strDistrict = '<option value="" disabled selected>Quận/Huyện</option>';
                            $("#District").append(strDistrict);
                            $.each(districts, function (i, item) {
                                var option = '<option value="' + item.locationId + '">' + item.name + '</option>';
                                $("#District").append(option);
                            });
                        }
                    });
                });
                $('#District').change(function () {
                    var districtId = $(this).val();
                    $.ajax({
                        url: '/Location/ListWard',
                        data: { id: districtId },
                        type: 'GET',
                        dataType: 'json',
                        success: function (wards) {
                            $("#Ward").empty();
                            var strWard = '<option value="" disabled selected>Xã/Phường</option>';
                            $("#Ward").append(strWard);
                            $.each(wards, function (i, item) {
                                var option = '<option value="' + item.locationId + '">' + item.name + '</option>';
                                $("#Ward").append(option);
                            });
                        }
                    });
                });
            });
        });
    </script>
}