@model WebsitePhuKienSunOne.Models.Order

@{
    ViewData["Title"] = "Thay đổi trạng thái đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<OrderDetail> od = ViewBag.OrderDetail;
}
@section Styles{
    <!-- bootstrap-wysiwyg -->
    <link href="~/Admin/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/Admin/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/Admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/Admin/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- summernote -->
    <link href="~/Admin/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Admin/summernote/summernote.css" rel="stylesheet" />
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Chi tiết đơn hàng</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">

                    <section class="content invoice">
                        <!-- title row -->
                        <div class="row">
                            <div class="invoice-header">
                                <h1>
                                    <i class="fa fa-globe"></i> Đơn hàng
                                    <small class="pull-right">Ngày: @Model.OrderDate.Value.ToShortDateString()</small>
                                </h1>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                Khách hàng
                                <address>
                                    <strong>@Model.Customer.FullName</strong>
                                    <br>@Model.Customer.Address
                                    <br>@Model.WardNavigation.Name, @Model.DistrictNavigation.Name, @Model.CityNavigation.Name
                                    <br>Điện thoại: @Model.Customer.Phone
                                    <br>Email: @Model.Customer.Email
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>ID Đơn Hàng #@Model.OrderId</b>
                                <br>
                                <b>Ngày Ship Hàng:</b> @Model.ShipDate
                                <br>
                                <b>Thanh Toán:</b> @(Model.Paid ? "Đã Thanh Toán" : "Chưa Thanh Toán")
                                <br>
                                <b>Ngày Thanh Toán:</b> @(Model.Paid ? Model.PaymentDate : "")
                                <br>
                                <b>Ghi Chú: </b> @Model.Note
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>ID Thanh Toán:</b> @Model.PaymentId
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="  table">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên Sản Phẩm</th>
                                            <th>Số Lượng</th>
                                            <th>Đơn Giá</th>
                                            <th>Giá Giảm</th>
                                            <th>Tổng Cộng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (od != null && od.Count > 0)
                                        {
                                            foreach (var item in od)
                                            {
                                                <tr>

                                                    <td>#@item.OrderDetailId</td>
                                                    <td>@item.Product.ProductName</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.Price.Value.ToString("#,##0") VNĐ</td>
                                                    @if (item.Discount > 0)
                                                    {
                                                        <td>@item.Discount.Value.ToString("#,##0") VNĐ</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                    <td>@item.Total.Value.ToString("#,##0") VNĐ</td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-md-6">
                                <b>Trạng Thái Đơn Hàng:</b>
                                <form asp-action="ChangeStatus" method="post">
                                    <input asp-for="OrderId" type="hidden" />
                                    <select class="form-control" asp-for="TransactStatusId" asp-items="ViewBag.Status"></select>
                                    <br>
                                    @if (Model.Paid)
                                    {
                                        <div><input disabled="disabled" type="checkbox" asp-for="Paid" class="js-switch"> Đã thanh toán </div>
                                    }
                                    else
                                    {
                                        <div><input type="checkbox" asp-for="Paid" class="js-switch"> Đã thanh toán </div>
                                    }
                                    <br>
                                    <button class="btn btn-success" type="submit">Thay đổi trạng thái</button>
                                </form>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Thành Tiền:</th>
                                                <td>@Model.TotalMoney.ToString("#,##0") VNĐ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- bootstrap-wysiwyg -->
    <script src="~/Admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/Admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/Admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/Admin/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="~/Admin/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/Admin/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/Admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/Admin/vendors/starrr/dist/starrr.js"></script>
}