@model IEnumerable<WebsitePhuKienSunOne.Models.Order>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Danh sách đơn hàng</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Khách Hàng</th>
                                        <th>Ngày Mua</th>
                                        <th>Tổng Tiền</th>
                                        <th>Trạng Thái</th>
                                        <th>#</th>
                                    </tr>
                                </thead>

                                <tbody id="records_table">
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.OrderId</td>
                                                <td>@item.Customer.FullName</td>
                                                <td>@item.OrderDate</td>
                                                <td>@item.TotalMoney.ToString("#,##0") VNĐ</td>
                                                <td>@item.TransactStatus.Status</td>
                                                <td>
                                                    <a class="fa fa-search" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId"> Xem</a>
                                                    &nbsp&nbsp&nbsp
                                                    <a class="fa fa-pencil" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId">Đổi trạng thái</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>