@model WebsitePhuKienSunOne.Models.Customer

@{
    ViewData["Title"] = "Quản lý tài khoản khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <!-- bootstrap-wysiwyg -->
    <link href="~/Admin/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/Admin/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/Admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/Admin/vendors/starrr/dist/starrr.css" rel="stylesheet">
}

<div class="page-title">
    <div class="title_left">
        <h3>Khóa tài khoản</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="x_panel">
    <form enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="x_content">

            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="FullName">
                    Tên khách hàng
                </label>
                <div class="col-md-6 ">
                    <input readonly="" type="text" class="form-control" value="@Model.FullName">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Birthday">
                    Năm sinh
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input readonly="" type="text" class="form-control" value="@Model.Birthday.Value.ToShortDateString()">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Avatar">
                    Ảnh đại diện
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <img width="200" height="200" src="~/images/customers/@Model.Avatar" alt="@Model.FullName" />
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Email">
                    Email
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input readonly="" type="text" class="form-control" value="@Model.Email">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Phone">
                    Số điện thoại
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input readonly="" type="text" class="form-control" value="@Model.Phone">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Address">
                    Địa chỉ
                </label>
                <div class="col-md-6 col-sm-6 ">
                    @if (Model.LocationId != null)
                    {
                        <input readonly="" type="text" class="form-control" value="@Model.Address, @Model.WardNavigation.Name, @Model.DistrictNavigation.Name, @Model.Location.Name">
                    }
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="CrateDate">
                    Ngày tạo
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input readonly="" type="text" class="form-control" value="@Model.CrateDate.Value.ToShortDateString()">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="LastLogin">
                    Lần đăng nhập cuối
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input readonly="" type="text" class="form-control" value="@Model.LastLogin.Value.ToShortDateString()">
                </div>
            </div>
        </div>
    </form>
    <form asp-controller="AdminCustomers" asp-action="LockCustomer">
        <div class="x_content">
            <input asp-for="CustomerId" type="hidden" />
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align"></label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="checkbox" asp-for="Active" class="js-switch"> Kích hoạt
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
    </form>

</div>

@section Scripts{
    <!-- bootstrap-wysiwyg -->
    <script src="~/Admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/Admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/Admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/Admin/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="~/Admin/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/Admin/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/Admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/Admin/vendors/starrr/dist/starrr.js"></script>
}