@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebsitePhuKienSunOne.Models.News>
@{
    ViewData["Title"] = "Tin tức trang " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
    var lsNews = ViewBag.LsNews as List<News>;
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Tin tức</h1>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="active">tin tức</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        string url = $"/news/{item.Alias}-{item.PostId}.html";
                        <div class="post">
                            <div class="post-media post-thumb">
                                <a href="@url">
                                    <img src="~/images/news/@item.Thumb" alt="@item.Title">
                                </a>
                            </div>
                            <h2 class="post-title"><a href="@url">@item.Title</a></h2>
                            <div class="post-meta">
                                <ul>
                                    <li>
                                        <i class="tf-ion-ios-calendar"></i> @item.CreateDate.Value.ToShortDateString()
                                    </li>
                                    <li>
                                        <i class="tf-ion-android-person"></i> Đăng bởi @item.Author
                                    </li>
                                    <li>
                                        <i class="tf-ion-chatbubbles"></i> @item.Views lượt xem
                                    </li>
                                </ul>
                            </div>
                            <div class="post-content">
                                <p>@item.Scontents</p>
                                <a href="@url" class="btn btn-main">Xem thêm</a>
                            </div>

                        </div>
                    }
                }
                <div class="text-center">
                    <ul class="pagination post-pagination">
                        <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="" asp-controller="News" asp-action="Index"/>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="sidebar">
                    <div class="widget widget-subscription">
                        <h4 class="widget-title">Nhận tin mới nhất</h4>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Địa chi email của bạn">
                            </div>
                            <button type="submit" class="btn btn-main">Đăng ký</button>
                        </form>
                    </div>

                    <!-- Widget Latest Posts -->
                    <div class="widget widget-latest-post">
                        <h4 class="widget-title">BÀI ĐĂNG MỚI NHẤT</h4>
                        @if (lsNews != null && lsNews.Count() > 0)
                        {
                            foreach (var item in lsNews)
                            {
                                string url = $"/news/{item.Alias}-{item.PostId}.html";
                                <div class="media">
                                    <a class="pull-left" href="@url">
                                        <img class="media-object" src="~/images/news/@item.Thumb" alt="@item.Title">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="@url">@item.Title</a></h4>
                                        <p>@item.CreateDate.Value.ToShortDateString()</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <!-- End Latest Posts -->
                    
                </aside>
            </div>
        </div>
    </div>
</div>