@model WebsitePhuKienSunOne.Models.Product

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> listProduct = ViewBag.ListProduct as List<Product>;
}

<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="shop.html">@Model.Cat.CatName</a></li>
                    <li class="active">@Model.ProductName</li>
                </ol>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- me art lab slider -->
                            <div class="carousel-inner ">
                                <div class="item active">
                                    <img src="~/images/products/@Model.Thumb" alt="@Model.Title" data-zoom-image="/images/products/@Model.Thumb">
                                </div>
                            </div>
                        </div>

                        <!-- thumb -->
                        <ol class="carousel-indicators mCustomScrollbar meartlab">
                            <li data-target="#carousel-custom" data-slide-to="0" class="active">
                                <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h1>@Model.ProductName</h1>
                    @if (Model.Discount > 0)
                    {
                        <p class="product-price"> <del>@Model.Price.Value.ToString("#,##0") </del> &nbsp;&nbsp;&nbsp;@Model.Discount.Value.ToString("#,##0") VNĐ</p>
                    }
                    else
                    {
                        <p class="product-price">@Model.Price.Value.ToString("#,##0") VNĐ</p>
                    }
                    <p class="product-description mt-20">
                        @Model.ShortDesc
                    </p>
                    <div class="product-category">
                        <span>Tồn kho:</span>
                        <ul>
                            <li>@Model.UnitslnStock</li>
                        </ul>
                    </div>
                    <div class="product-quantity">
                        <span>Số lượng: </span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="text" value="1" name="product-quantity">
                        </div>
                    </div>
                    <div class="product-category">
                        <span>Danh mục:</span>
                        <ul>
                            <li><a href="/shop-@Model.Cat.Alias">@Model.Cat.CatName</a></li>
                        </ul>
                    </div>
                    <div>
                        <a id="add-to-cart" class="btn btn-main mt-20">Thêm vào giỏ hàng</a>
                        <input type="hidden" asp-for="ProductId" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon mt-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Mô tả</a></li>
                    </ul>
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <h4>Mô tả sản phẩm</h4>
                            <p>@Html.Raw(Model.Description)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products related-products section">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Sản phẩm tương tự</h2>
            </div>
        </div>
        <div class="row">
            @if (listProduct != null && listProduct.Count() > 0)
            {
                foreach (var item in listProduct)
                {
                    string url = $"/{item.Alias}-{item.ProductId}.html";
                    <div class="col-md-3">
                        <div class="product-item">
                            <div class="product-thumb">
                                @if (item.Discount > 0)
                                {
                                    <span class="bage">Sale</span>
                                }
                                <img class="img-responsive" src="~/images/products/@item.Thumb" alt="@item.Title">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="@url"><i class="tf-ion-ios-search"></i></a>
                                        </li>
                                        <li>
                                            <a class="addCart" href="#" data-pdId="@item.ProductId"><i class="tf-ion-android-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="@url">@item.ProductName</a></h4>

                                @if (item.Discount > 0)
                                {
                                    <p class="product-price"> <del>@item.Price.Value.ToString("#,##0")  </del> &nbsp;&nbsp;&nbsp;@item.Discount.Value.ToString("#,##0") VNĐ</p>

                                }
                                else
                                {
                                    <p class="product-price">@item.Price.Value.ToString("#,##0") VNĐ</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $("#add-to-cart").click(function () {
                    var productId = $('#ProductId').val();
                    var quantity = $('#product-quantity').val();
                    $.ajax({
                        url: 'api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productId: productId,
                            amount: quantity
                        },
                        success: function (response) {
                            loadHeaderCart();
                            location.reload();
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });
                $(".addCart").click(function () {
                    var productId = $(this).attr("data-pdId");
                    $.ajax({
                        url: 'api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productId: productId,
                        },
                        success: function (response) {
                            loadHeaderCart();
                            location.reload();
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });
            });

            function loadHeaderCart() {
                $("#miniCart").load("/AjaxContent/HeaderCart");
                $("#numberCart").load("/AjaxContent/NumberCart");
            }
        });
    </script>
}
