@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebsitePhuKienSunOne.Models.Product>
@{
    ViewData["Title"] = "Shop " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
    var lsCat = ViewBag.ListCat as List<Category>;
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Danh mục sản phẩm</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Danh mục sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget">
                    <h4 class="widget-title">Sắp xếp theo</h4>
                    <form method="post" action="#">
                        <select class="form-control">
                            <option>A-Z</option>
                            <option>Z-A</option>
                            <option>Giá tăng dần</option>
                            <option>Giá giảm dần</option>
                            <option>Đang giảm giá</option>
                        </select>
                    </form>
                </div>
                <div class="widget product-category">
                    <h4 class="widget-title">Danh mục sản phẩm</h4>
                    <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Phụ kiện
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul>
                                        @foreach (var item in lsCat)
                                        {
                                            <li><a href="/shop-@item.Alias"> @item.CatName</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Khác
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/shop-khac">Khác</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{item.Alias}-{item.ProductId}.html";
                            <div class="col-md-4">
                                <div class="product-item" style="height:450px">
                                    <div class="product-thumb">
                                        @if (item.Discount > 0)
                                        {
                                            <span class="bage">Sale</span>
                                        }
                                        <img class="img-responsive" src="~/images/products/@item.Thumb" alt="@item.Title">
                                        <div class="preview-meta">
                                            <ul>
                                                <li>
                                                    <a href="@url"><i class="tf-ion-ios-search-strong"></i></a>
                                                </li>
                                                <li>
                                                    <a class="addCart" href="#" data-pdId="@item.ProductId"><i class="tf-ion-android-cart"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="@url">@item.ProductName</a></h4>
                                        @if (item.Discount > 0)
                                        {
                                            <p class="product-price"> <del>@item.Price.Value.ToString("#,##0")  </del> &nbsp;&nbsp;&nbsp;@item.Discount.Value.ToString("#,##0") VNĐ</p>
                                        }
                                        else
                                        {
                                            <p class="product-price">@item.Price.Value.ToString("#,##0") VNĐ</p>
                                        }
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
                <div class="text-center">
                    <ul class="pagination post-pagination">
                        <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusFirstAndLast" list="@Model" asp-area="" asp-controller="Product" asp-action="Index" />
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $(".addCart").click(function () {
                    var productId = $(this).attr("data-pdId");
                    $.ajax({
                        url: 'api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productId: productId,
                        },
                        success: function (response) {
                            loadHeaderCart();
                            location.reload();
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });
            });

            function loadHeaderCart() {
                $("#miniCart").load("/AjaxContent/HeaderCart");
                $("#numberCart").load("/AjaxContent/NumberCart");
            }
        });
    </script>
}
