@{
    ViewData["Title"] = "Trang chủ";
    var hvm = ViewBag.model;
    var lsCat = hvm.Category as List<Category>;
    var lsProduct = hvm.Products as List<Product>;
}

<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area" style="background-image: url(/assets/images/slider/slider-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area" style="background-image: url(/assets/images/slider/slider-3.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-left">
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area" style="background-image: url(/assets/images/slider/slider-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-right">
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product-category section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>Danh mục sản phẩm</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box">
                    <a href="/shop-@lsCat[0].Alias">
                        <img src="~/images/categories/@lsCat[0].Thumb" alt="@lsCat[0].Title" />
                        <div class="content">
                            <h3>@lsCat[0].Title</h3>
                            <p>Xem các sản phẩm mới nhất</p>
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="/shop-@lsCat[1].Alias">
                        <img src="~/images/categories/@lsCat[1].Thumb" alt="@lsCat[1].Title" />
                        <div class="content">
                            <h3>@lsCat[1].Title</h3>
                            <p>Xem các sản phẩm mới nhất</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box category-box-2">
                    <a href="/shop-@lsCat[2].Alias">
                        <img src="~/images/categories/@lsCat[2].Thumb" alt="@lsCat[2].Title" />
                        <div class="content">
                            <h3>@lsCat[2].Title</h3>
                            <p>Xem các sản phẩm mới nhất</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Sản phẩm nổi bật</h2>
            </div>
        </div>
        <div class="row">

            @if (lsProduct != null && lsProduct.Count() > 0)
            {
                foreach (var item in lsProduct)
                {
                    string url = $"/{item.Alias}-{item.ProductId}.html";
                    <div class="col-md-4">
                        <div class="product-item" style="height:600px">
                            <div class="product-thumb">
                                @if (item.Discount > 0)
                                {
                                    <span class="bage">Sale</span>
                                }
                                <img class="img-responsive" src="~/images/products/@item.Thumb" alt="@item.Title"/>
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="@url"><i class="tf-ion-ios-search-strong"></i></a>
                                        </li>
                                        <li>
                                            <a class="addCart" href="#" data-pdId="@item.ProductId"><i class="tf-ion-android-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="@url">@item.ProductName</a></h4>
                                @if (item.Discount > 0)
                                {
                                    <p class="product-price"> <del>@item.Price.Value.ToString("#,##0")  </del> &nbsp;&nbsp;&nbsp;@item.Discount.Value.ToString("#,##0") VNĐ</p>
                                }
                                else
                                {
                                    <p class="product-price">@item.Price.Value.ToString("#,##0") VNĐ</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $(".addCart").click(function () {
                    var productId = $(this).attr("data-pdId");
                    $.ajax({
                        url: 'api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productId: productId,
                        },
                        success: function (response) {
                            loadHeaderCart();
                            location.reload();
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText); // Fixed syntax error
                        }
                    });
                });
            });

            function loadHeaderCart() {
                $("#miniCart").load("/AjaxContent/HeaderCart");
                $("#numberCart").load("/AjaxContent/NumberCart");
            }
        });
    </script>
}
